/* @media (max-width: 575.98px){ */
    body {
        /* background-color: #d39292; */
      padding-bottom: 80px;
    }

    html {
  scroll-behavior: smooth;
}
/* } */



.hero-bg-image {
 
  background-image: url('./images/hero.png'); 
  background-size: cover; 
  background-position: center; 
  position: relative;
  min-height: 400px; 
  display: flex;
  align-items: center; 
 
}


.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); 
}


.course-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    overflow: hidden;
    border: 1px solid #e0e0e0;
}

.course-card:hover {
    transform: translateY(-5px) scale(1.02); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
    z-index: 10; 
}

.course-image {
    height: 12rem; 
    object-fit: cover;
}

.card-info .badge {
    font-size: 0.85em;
    padding: 0.5em 0.75em;
}


#TrendingCARD{
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    overflow: hidden;
    border: 1px solid #c98b8b;



}
#TrendingCARD:hover{
    transform: translateY(-5px) scale(1.02); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
    z-index: 10; 



}
#heroSection{
    transition: transform 0.3s ease, box-shadow 0.3s ease; 

}
#heroSection:hover{
    transform: translateY(-5px) scale(1.02); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
    /* z-index: 10;  */
}

#categorySec{
    transition: transform 0.3s ease, box-shadow 0.3s ease; 

}
#categorySec:hover{
      transform: translateY(-5px) scale(1.02); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

/* categoryPAGE */
#txtx{
    font-size: 0.85em;
    padding: 0.5em 0.75em;
}

#list:hover{
    transform: translateY(-5px) scale(1.01); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
    z-index: 100;
}



.bg-light-success {
    background-color: #d4edda !important; 
}

.bg-light-danger {
    background-color: #f8d7da !important;
}

.list-group-item a.btn-outline-dark {
    transition: all 0.2s ease-in-out;
    border-radius: 0.5rem;
}

.list-group-item a.btn-outline-dark:hover {
    background-color: var(--bs-primary); 
    border-color: var(--bs-primary);
    color: white !important;
    transform: translateY(-1px);
}

.progress-bar span {
    color: #343a40;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

#d{
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    overflow: hidden;
    border: 1px solid #e0e0e0;
}
#d:hover{
     transform: translateY(-5px) scale(1.01); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
    z-index: 100;
}